<template>
  <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/images/bg-choice.jpg`)})` }">
    <div class="container">
      <transition enter-active-class="animated fadeIn">
        <div class="content has-margin-top">
          <div class="column is-half is-offset-one-quarter has-text-centered" v-for="choice in choices">
            <div class="columns is-mobile">
              <div class="column is-size-5">
                <p class="content is-uppercase has-background-box">{{ choice.title }}</p>
              </div>

              <div class="column is-2">
                <div class="buttons is-choices is-centered">
                  <button class="button is-large is-green read-button" @click="gotoItem(choice)">
                  <span class="icon">
                    <i class="mdi mdi-arrow-right-bold-circle-outline"></i>
                  </span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="buttons is-centered">
            <button class="button is-red is-rounded is-previous" @click="gotoConcept">
              <span class="icon"> <i class="mdi mdi-arrow-left-bold"></i> </span>
              <span class="word">Back to introduction</span>
            </button>
          </div>
        </div>
      </transition>
    </div>

    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
      <definition-modal :key="isActive" :isActive="isActive" :selectedChoice="selectedChoice" @closeModal="closeModal"/>
    </transition>
  </section>
</template>

<script>
  import { mapState, mapMutations, mapGetters } from 'vuex'
  import DefinitionModal from '@/components/DefinitionModal'

  export default {
    name: 'Choice',
    components: {
      DefinitionModal
    },
    data () {
      return {
        text: 'Look at the "Literary Times" that is placed on each of your table...',
        choices: [
          {
            title: 'What is Tone?',
            description: 'The Tone of the text reveals the writer’s feelings or attitudes towards a particular idea or person'
          },
          {
            title: 'Identifying Tone and its Effect',
            description: 'The Tone of the text reveals the writer’s feelings or attitudes towards a particular idea or person',
            path: '/newspaper'
          },
          {
            title: 'Tone and Intonation',
            description: 'The Tone of the text reveals the writer’s feelings or attitudes towards a particular idea or person',
            path: '/macbeth'
          }
        ],
        isActive: false,
        selectedChoice: {}
      }
    },
    mounted () {
      window.addEventListener('keyup', ev => {
        if (ev.key === 'Escape') this.closeModal()
      })
    },
    computed: {
      ...mapState(['showChoices']),
      ...mapGetters(['showPalmistry'])
    },
    methods: {
      ...mapMutations(['setShowChoices']),
      gotoItem (choice) {
        this.isActive = true
        this.selectedChoice = choice

        if (choice.path) this.$router.replace(choice.path)
      },
      closeModal () {
        this.isActive = false
      },
      gotoConcept () {
        this.$router.replace('/concept')
      }
    }
  }
</script>

<style lang="scss" scoped>
  @media only screen and (max-width: 770px) {
    .has-margin-top {
      margin-top: 15vh !important;
    }
  }

  .is-fixed-bottom {
    position: fixed;
    bottom: 5vh;
  }

  .is-choices {
    .icon {
      animation: shake 2s infinite;
    }
  }

  .has-background-box {
    border-radius: 15px;
    background-color: #a1cfe6;
    color: #2b2b2b;
    padding: 2%;
  }

  .has-margin-top {
    margin-top: 40vh;
  }

  .buttons {
    margin-top: 1.5%;
  }
</style>
