<template>
  <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/images/bg-concept-1.jpg`)})` }"
           ref="section">
    <div class="section-two">
      <div class="column" :class="slideIndex === 0 ? 'whiteboard' : 'whiteboard-two'">
        <p class="content" v-html="currentSlide.text"></p>

        <h1 class="is-uppercase has-text-weight-bold" v-if="slideIndex === 0">The Concept of Tone</h1>

        <div class="buttons">
          <button class="button is-red is-rounded is-previous" @click="previousSlide"
                  v-if="slideIndex > 0">
            <span class="icon"> <i class="mdi mdi-arrow-left-bold"></i> </span> <span class="word">Previous </span>
          </button>

          <button class="button is-green is-rounded is-next" @click="nextSlide"><span
            class="word">Next</span> <span class="icon"> <i class="mdi mdi-arrow-right-bold"></i> </span></button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'concept',
    data () {
      return {
        slides: [
          {
            id: 1,
            text: 'Okay class! Today\'s focus is on'
          },
          {
            id: 2,
            text: 'We are sometimes reminded to use an appropriate tone when speaking with or writing to others.'
          },
          {
            id: 3,
            text: 'Our words have meaning and impact, and tone is a big part of that. It is not just what we say but how we say it.'
          }
        ],
        slideIndex: 0
      }
    },
    computed: {
      currentSlide () {
        return this.slides[this.slideIndex]
      }
    },
    methods: {
      changeBackground () {
        const section = this.$refs.section

        section.style.backgroundImage = `url(${require(`@/assets/images/bg-concept-${this.currentSlide.id}.jpg`)})`
        section.style.backgroundRepeat = 'no-repeat'
        section.style.backgroundSize = 'cover'
      },
      previousSlide () {
        if (this.slideIndex > 0) {
          this.slideIndex--

          this.changeBackground()
        }
      },
      nextSlide () {
        if (this.slideIndex >= this.slides.length - 1) {
          this.$router.push('/choice')
        } else {
          this.slideIndex++

          this.changeBackground()
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .section {
    padding: 0;
  }

  .content {
    font-size: 1.5em;
  }

  .button {
    font-size: 1.5em;
  }

  .whiteboard {
    position: absolute;
    top: 10%;
    right: 10%;

    h1 {
      font-size: 2em;
      line-height: 200%;
    }
  }

  .whiteboard-two {
    position: absolute;
    width: 40%;
    top: 25%;
    right: 8%;
  }
</style>
