<template>
  <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/images/bg-conclusion.jpg`)})` }">
    <div class="container">
      <div class="columns has-text-centered is-mobile">
        <div class="column is-half is-offset-half left-table">
          <div class="columns">
            <div class="column has-image">
              <img :src="require(`@/assets/images/conclusion-header.png`)" alt="Image of Header"/>
            </div>
          </div>

          <div class="columns" :keys="item.name" v-for="(item,index) in items">
            <div class="column has-image animated fadeIn" :class="`image-${index + 1}`">
              <img :src="require(`@/assets/images/conclusion-${item.name.toLowerCase()}.png`)"
                   :alt="`Image of ${item.name}`"/>
            </div>
          </div>
        </div>
      </div>

      <div class="columns is-fixed-bottom">
        <div class="column">
          <div class="buttons is-centered">
            <button class="button is-red is-medium is-rounded goto-choices" @click="gotoChoice">
              <span class="icon">
                <i class="mdi mdi-arrow-left-bold"></i>
              </span>
              <span class="word"> Back to choices </span>
            </button>

            <button class="button is-green is-medium is-rounded goto-newspaper" @click="gotoNewspaper"
                    v-if="!newspaperFinished">
              <span class="word"> Newspaper Articles </span>

              <span class="icon">
            <i class="mdi mdi-arrow-right-bold"></i>
          </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Conclusion',
    data () {
      return {
        items: [
          { name: 'Diction' }, { name: 'Syntax' }, { name: 'Intonation' }
        ]
      }
    },
    computed: {
      ...mapState(['newspaperFinished'])
    },
    methods: {
      gotoNewspaper () {
        this.$router.push('/newspaper')
      },
      gotoChoice () {
        this.$router.push('/choice')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .is-fixed-bottom {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5vh;
  }

  .has-image {
    margin: -2% 0;
    > img {
      width: 45vh;
    }

    @for $i from 1 through 3 {
      &.image-#{$i} {
        animation-delay: calc(0.5s * #{$i});
      }
    }
  }
</style>
