<template>
  <div class="modal" :class="{ 'is-active' : isActive }">
    <div class="modal-background" @click="closeModal"></div>

    <div class="modal-card has-text-centered">
      <header class="modal-card-head">
        <h1 class="modal-card-title has-text-weight-bold">{{ selectedChoice.title }}</h1>
        <button class="delete is-large" aria-label="close" @click="closeModal"></button>
      </header>

      <div class="modal-card-body"><p>{{ selectedChoice.description }}</p></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'definition-modal',
    props: {
      isActive: Boolean,
      selectedChoice: Object
    },
    methods: {
      closeModal () {
        this.$emit('closeModal')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal-card-head {
    background-color: #FDA630;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 2px solid #2b2b2b;

    h1 {
      font-size: 3em;
    }
  }
  .modal-card-body {
    background-color: #FDE55A;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    p {
      font-size: 2em;
    }
  }
</style>
