<template>
  <section class="section" ref="section">
    <div class="container">
      <div class="headline">
        <div class="headline-image">
          <img :src="require(`@/assets/images/student.png`)" class="is-discussion is-pulled-left"
               alt="Image of Student" v-if="dialogues[dialogueIndex].speaker === 'student'"/>
        </div>

        <div class="headline-dialogue">
          <div class="box is-dialogue">
            <p class="content is-size-5" v-html="dialogues[dialogueIndex].text"></p>

            <div class="buttons is-centered">
              <button class="button is-green is-rounded is-back" @click="goBack">
                <span class="word">next</span>
                <span class="icon"> <i class="mdi mdi-arrow-right-bold"></i> </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'headline',
    beforeRouteEnter (to, from, next) {
      next(vm => {
        Object.values(vm.$store.state.selectedHeadline).length > 0 ? next() : vm.$router.replace('/newspaper')
      })
    },
    data () {
      return {
        dialogueIndex: 0
      }
    },
    computed: {
      ...mapState(['selectedHeadline']),
      dialogues () {
        return this.selectedHeadline.dialogues
      }
    },
    mounted () {
      const section = this.$refs.section

      section.style.backgroundImage = `url(${require(`@/assets/images/bg-newspaper-${this.selectedHeadline.id}.jpg`)})`
      section.style.backgroundRepeat = 'no-repeat'
      section.style.backgroundSize = 'cover'
    },
    methods: {
      goBack () {
        this.$router.push('/newspaper-headlines')
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    height: 100vh;
    background-position: center;
  }

  .headline {
    .headline-image {
      width: 20%;
      position: fixed;
      right: 1%;
      top: 5%;

      img {
        width: 100%;
      }
    }

    .headline-dialogue {
      width: 20%;
      position: fixed;
      right: 1%;
      top: 45%;

      .is-dialogue {
        padding: 15% 5%;

        .buttons button {
          margin-top: 2%;
        }
      }
    }
  }

  @keyframes fadingIn {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    80% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
</style>
