<template>
  <section class="section" :style="background">
    <div class="columns is-vcentered fixed-bottom is-mobile" v-if="setIndex >= 1">
      <div class="column is-one-fifth intonation-image">
        <img :src="require(`@/assets/images/teacher.png`)" class="teacher is-pulled-right"
             alt="Image of teacher"/>
      </div>

      <div class="columns is-vcentered intonation-text">
        <div class="column">
          <div class="box is-dialogue">
            <p class="content is-size-5">{{ currentSet.text[textIndex].paragraph }}</p>

            <div class="buttons is-centered">
              <button class="button is-red is-rounded is-previous" @click="goPrevious">
                <span class="icon"> <i class="mdi mdi-arrow-left-bold"></i> </span>
                <span class="word"> previous </span>
              </button>

              <button class="button is-green is-rounded is-next" @click="goNext">
                <span class="word"> Next </span>
                <span class="icon"> <i class="mdi mdi-arrow-right-bold"></i> </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="button is-green is-rounded is-next is-start-button is-large" @click="goNext" v-if="setIndex === 0">
      <span class="word"> Next</span>
      <span class="icon"> <i class="mdi mdi-arrow-right-bold"></i> </span>
    </button>

    <button class="button is-red is-back is-rounded is-large goto-choice" @click="gotoChoice" v-if="setIndex === 0">
      <span class="icon"> <i class="mdi mdi-arrow-left-bold"></i> </span>
      <span class="word"> Back to Choices</span>
    </button>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'intonation',
    data () {
      return {
        setIndex: 0,
        sets: [
          {
            id: 1
          },
          {
            id: 2,
            text: [
              {
                paragraph: 'For texts like plays and poems where lines are read aloud, tone can also be conveyed through the rise and fall in pitch and loudness of one’s voice'
              }
            ]
          },
          {
            id: 3,
            text: [
              {
                paragraph: 'This is also known as intonation. Intonation refers to the way particular words are emphasised by pitch and loudness to convey certain emotions.'
              }
            ]
          }
        ],
        textIndex: 0
      }
    },
    computed: {
      ...mapState(['previousIntonation']),
      background () {
        return {
          backgroundImage: `url('${require(`@/assets/images/bg-intonation-${this.currentSet.id}.jpg`)}')`,
          backgroundRepeat: 'no-repeat',
          backgroundSize: 'cover'
        }
      },
      currentSet () {
        return this.sets[this.setIndex]
      },
      isReady () {
        return this.setIndex >= this.sets.length
      }
    },
    methods: {
      goPrevious () {
        if (this.textIndex === 0) {
          this.setIndex--
          this.textIndex = 0
        } else {
          this.textIndex--
        }
      },
      goNext () {
        if (this.setIndex === 0) {
          this.setIndex++
        } else if (this.textIndex >= this.currentSet.text.length - 1) {
          this.setIndex++
          this.textIndex = 0
        } else {
          this.textIndex++
        }

        if (this.isReady) this.$router.push('/macbeth')
      },
      gotoChoice () {
        this.$router.push('/choice')
      }
    }
  }
</script>

<style lang="scss" scoped>
  img {
    &.teacher {
      width: 75%;
      height: 75%;
    }
  }

  .starting-page {
    position: fixed;
    right: 30%;
    top: 28%;
    font-size: 3em;
  }

  .is-back {
    position: fixed;
    left: 5vw;
    top: 45vh;
  }

  .is-start-button {
    position: fixed;
    right: 5vw;
    top: 45vh;
  }

  .intonation-image {
    position: relative;
  }

  .intonation-text {
    margin-left: -2%;

    .is-dialogue {
      width: 70vw;

      .buttons {
        margin-top: 2%;
      }
    }
  }

  .fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 2.5vh;
  }
</style>
