<template>
  <section class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-introduction.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="intro-button">
          <button class="button is-green is-rounded is-uppercase is-medium" @click="start">
            <span class="word">Start</span>
            <span class="icon"> <i class="mdi mdi-arrow-right-bold"></i> </span>
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Introduction',
    methods: {
      start () {
        this.$router.push('/concept')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $bold: "Blender Pro Bold", sans-serif;

  @media only screen and (max-width: 770px) {
    .intro {
      left: 24% !important;

    }
  }

  .hero-body {
    height: inherit;

    .container {
      height: inherit;
      position: relative;

      .intro-button {
        position: absolute;
        top: 31%;
        right: 26%;

        h1 {
          font-size: 2.5em;
        }
      }
    }
  }
</style>
