<template>
  <section class="hero is-fullheight" :style="background">
    <transition enter-active-class="animated fadeIn">
      <section class="hero is-fullheight" v-if="sceneIndex === 0">
        <div class="hero-body">
          <div class="columns is-vcentered is-mobile">
            <div class="column is-half is-offset-half">
              <div class="box is-dialogue">
                <p class="content is-size-5">{{ currentScene.text }}</p>

                <div class="buttons is-centered">
                  <button class="button is-red is-rounded is-previous" @click="gotoMacbeth">
                    <span class="icon"> <i class="mdi mdi-arrow-left-bold"></i> </span>
                    <span class="word"> Previous </span>
                  </button>

                  <button class="button is-green is-rounded is-next" @click="goNext">
                    <span class="word"> Next </span>
                    <span class="icon"> <i class="mdi mdi-arrow-right-bold"></i> </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="tones" class="section" v-else>
        <div class="container">
          <h1 class="title">Intonations</h1>
          <h2 class="subtitle">(Click on each image to hear Lady Macbeth speak, and consider how you would describe the
            tone in each instance.)</h2>

          <div class="columns">
            <div class="column has-text-centered click-image" v-for="voiceOver in voiceOvers">
              <img :src="require(`@/assets/images/lady-macbeth-${voiceOver.id}.png`)" class="is-clickable"
                   :alt="`Image of Lady Macbeth ${voiceOver.id}`" @click="showDetails(voiceOver)"/>
            </div>
          </div>

          <div class="columns">
            <div class="column text" :class="selectedVoiceOver.style">
              <transition enter-active-class="animated fadeIn">
                <p :key="showTeacherDialogue" class="content is-size-5" v-if="showTeacherDialogue">
                  {{ selectedVoiceOver.dialogue[0].paragraph }}
                </p>
              </transition>

              <transition enter-active-class="animated fadeIn">
                <p :key="showParagraphSecondIndex" class="content is-size-5" v-if="showParagraphSecondIndex">
                  {{ selectedVoiceOver.dialogue[1].paragraph }}
                </p>
              </transition>
            </div>
          </div>

          <div class="column is-completed-button has-text-centered">
            <transition enter-active-class="animated jackInTheBox">
              <button class="button is-green is-rounded goto-conclusion is-large" @click="gotoConclusion"
                      v-if="allCompleted">
                <span class="word">Next</span>

                <span class="icon">
                  <i class="mdi mdi-arrow-right-bold"></i>
                </span>
              </button>
            </transition>
          </div>
        </div>
      </section>
    </transition>

    <audio ref="audio"></audio>
  </section>
</template>

<script>
  export default {
    name: 'LadyMacbeth',
    data () {
      return {
        sceneIndex: 0,
        scenes: [
          {
            id: 1,
            text: 'On the next page, click on the images to hear a line by Lady Macbeth read in different intonations. Think about how intonation helps you understand tone.'
          }
        ],
        showTeacherDialogue: false,
        voiceOvers: [
          {
            id: 1,
            dialogue: [
              { paragraph: 'What are some words we would use to describe the tone of the first example?' },
              { paragraph: 'We might use words like Frustrated and Angry.' }
            ],
            current: false,
            style: 'is-4'
          },
          {
            id: 2,
            dialogue: [
              { paragraph: 'What about the second example?' },
              { paragraph: 'We might use words like Pleading and Desperate.' }
            ],
            current: false,
            style: 'is-4 is-offset-4'
          },
          {
            id: 3,
            dialogue: [
              { paragraph: 'What about the third example?' },
              { paragraph: 'We might use words like Guilty and Fearful to describe the tone.' }
            ],
            current: false,
            style: 'is-4 is-offset-8'
          }
        ],
        completedVoiceOver: [],
        selectedVoiceOver: {},
        showParagraphSecondIndex: false
      }
    },
    computed: {
      background () {
        return {
          backgroundImage: `url('${require(`@/assets/images/bg-lady-macbeth-${this.sceneIndex + 1}.jpg`)}')`,
          backgroundRepeat: 'no-repeat',
          backgroundSize: 'cover'
        }
      },
      currentScene () {
        return this.scenes[this.sceneIndex]
      },
      allCompleted () {
        return this.voiceOvers.every(voiceOver => voiceOver.current === true)
      }
    },
    methods: {
      playAudio () {
        const audio = this.$refs.audio

        audio.src = require(`@/assets/audio/lady-macbeth-${this.selectedVoiceOver.id}.mp3`)
        audio.load()

        audio.play()
      },
      goNext () {
        this.sceneIndex++

        if (this.sceneIndex > 0) {
          this.$store.commit('disableAudio')
        }
      },
      gotoMacbeth () {
        this.$router.replace('/macbeth')
      },
      showDetails (voiceOver) {
        this.completedVoiceOver.push(voiceOver)

        this.voiceOvers[this.voiceOvers.indexOf(voiceOver)].current = true

        this.selectedVoiceOver = {}
        this.showTeacherDialogue = false
        this.showParagraphSecondIndex = false
        this.selectedVoiceOver = voiceOver
        this.showTeacherDialogue = true

        setTimeout(() => {
          this.showParagraphSecondIndex = true
        }, 4000)

        this.playAudio()
      },
      gotoConclusion () {
        this.$router.replace('/conclusion')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .is-clickable {
    cursor: pointer;
  }

  .click-image {
    img {
      width: 90%;
    }
  }

  .is-dialogue {
    .buttons {
      margin-top: 2%;
    }
  }

  .text {
    padding: 0 3%;

    p {
      line-height: 110%;
    }
  }

  .is-completed-button {
    width: 100%;
    position: fixed;
    bottom: 2%;
    right: 0;
  }
</style>
