<template>
  <section class="section" :style="background">
    <div class="columns is-vcentered fixed-bottom is-mobile">
      <div class="image column is-one-fifth">
        <img :src="currentTeacherEmotion" class="teacher is-pulled-right"
             alt="Image of concerned teacher"/>
      </div>

      <div class="columns is-vcentered is-mobile">
        <div class="column">
          <div class="box is-dialogue">
            <p :key="currentSet.id" class="content is-size-5">{{ currentSet.text[textIndex].paragraph }}</p>

            <div class="buttons is-centered">
              <button class="button is-red is-rounded is-previous" @click="goPrevious"
                      v-if="setIndex > 0 || textIndex > 0">
                <span class="icon"> <i class="mdi mdi-arrow-left-bold"></i> </span>
                <span class="word"> Previous </span>
              </button>

              <button class="button is-red is-rounded goto-intonation" @click="gotoIntonation" v-else>
                <span class="icon"> <i class="mdi mdi-arrow-left-bold"></i> </span>
                <span class="word"> Back to Intonation </span>
              </button>

              <button class="button is-green is-rounded is-next" @click="goNext">
                <span class="word"> Next </span>
                <span class="icon"> <i class="mdi mdi-arrow-right-bold"></i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Macbeth',
    data () {
      return {
        setIndex: 0,
        sets: [
          {
            id: 1,
            text: [
              { paragraph: 'Let\'s hear an iconic statement from one of Shakespeare\'s plays, Macbeth, in three different intonations.' },
              { paragraph: 'In the play, Macbeth is a brave and loyal supporter of his king, Duncan.' }
            ]
          },
          {
            id: 2,
            text: [
              { paragraph: 'However, after hearing a prophecy that he will become king himself, Macbeth is overcome by ambition and greed.' }
            ]
          },
          {
            id: 3,
            text: [
              { paragraph: 'With his wife\'s encouragement,' }
            ]
          },
          {
            id: 4,
            text: [
              { paragraph: 'Macbeth decided to speed up the process of becoming king himself.' }
            ]
          },
          {
            id: 5,
            text: [
              { paragraph: 'Macbeth kills Duncan' }
            ]
          },
          {
            id: 6,
            text: [
              { paragraph: 'and usurps the throne.' }
            ]
          },
          {
            id: 7,
            text: [
              { paragraph: 'Lady Macbeth knows she is partly responsible for the death of Duncan too,' }
            ]
          },
          {
            id: 8,
            text: [
              { paragraph: 'and is so affected by the murder that she begins hallucinating.' }
            ]
          },
          {
            id: 9,
            text: [
              { paragraph: 'In this scene, she cries out, "Out, damned spot!" as she tries to remove an imaginary stain from her hands.' }
            ]
          }
        ],
        textIndex: 0
      }
    },
    computed: {
      background () {
        return {
          backgroundImage: `url('${require(`@/assets/images/bg-macbeth-${this.currentSet.id}.jpg`)}')`,
          backgroundRepeat: 'no-repeat',
          backgroundSize: 'cover'
        }
      },
      currentSet () {
        return this.sets[this.setIndex]
      },
      isReady () {
        return this.setIndex >= this.sets.length
      },
      currentTeacherEmotion () {
        let img = require(`./../assets/images/teacher.png`)
        if (this.currentSet.id > 4) {
          img = require(`./../assets/images/teacher-concerned.png`)
        }
        return img
      }
    },
    methods: {
      goPrevious () {
        if (this.textIndex === 0) {
          this.setIndex--
          this.textIndex = 0
        } else {
          this.textIndex--
        }
      },
      gotoIntonation () {
        this.$router.push('/intonation')
      },
      goNext () {
        if (this.textIndex >= this.currentSet.text.length - 1) {
          this.setIndex++
          this.textIndex = 0
        } else {
          this.textIndex++
        }

        if (this.isReady) {
          this.$store.commit('setMacbethFinished')

          this.$router.push('/lady-macbeth')
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  img {
    &.teacher {
      width: 75%;
      height: 75%;
    }
  }

  .image {
    position: relative;
    z-index: 3;
  }

  .is-dialogue {
    width: 75vw;
    position: relative;
    margin-left: -3%;
    z-index: 2;

    .buttons {
      margin-top: 2%;
    }
  }

  .fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 2.5vh;
  }
</style>
