<template>
  <section class="section"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-newspaper.jpg`)})` }">
    <div class="container">
      <div class="headlines-dialogue">
        <div class="column is-one-quarter headlines-image">
          <img :src="require(`@/assets/images/teacher.png`)" alt=""/>
        </div>

        <div class="column headlines-text">
          <div class="box is-dialogue">
            <p class="content is-size-5">
              Yes, all 3 headlines describe the same incident. But each has a different effect from the
              others too.
              How does the choice of words influence the tone in each of the three headlines?
            </p>

            <span class="content is-size-6">(Click on the newspaper cut outs to see the details.)</span>

            <div class="buttons is-centered">
              <button class="button is-green is-rounded is-next" @click="gotoResponse" v-if="showNextButton">
                <span class="word">Next</span>

                <span class="icon">
                <i class="mdi mdi-arrow-right-bold"></i>
              </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns newspapers">
      <div class="column" v-for="headline in headlines">
        <img :src="require(`@/assets/images/newspaper-cutout-${headline.id}.png`)" class="newspaper-cutout"
             @click="selectHeadline(headline)"/>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'newspaper-headlines',
    computed: {
      ...mapState(['headlines']),
      ...mapGetters(['showNextButton'])
    },
    methods: {
      selectHeadline (headline) {
        if (!headline.selected) {
          this.$store.commit('setSelectedHeadline', headline)

          this.$router.push(`/headline/${headline.id}`)
        }
      },
      gotoResponse () {
        this.$router.push('/response')
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    overflow-y: hidden;
    height: 100vh;
  }

  .headlines-dialogue {
    margin-top: -3.5%;
    display: flex;

    .headlines-image {
      padding: 0;
      position: relative;
      z-index: 1;

      img {
        width: 75%;
      }
    }

    .headlines-text {
      margin: 0 5% 0 -9%;
      position: relative;
      z-index: 1;
    }
  }

  .newspaper-cutout {
    width: 30%;
    position: fixed;
    bottom: -5%;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    &:hover {
      animation-name: shake;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      cursor: pointer;
    }
  }

  @keyframes shake {
    100% {
      transform: scale(1.1);
    }

    10%, 90% {
      transform: translate3d(-1px, 0, 0) rotate(-1deg) scale(1.1);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0) rotate(2deg) scale(1.1);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0) rotate(-2.5deg) scale(1.1);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0) rotate(2.5deg) scale(1.1);
    }
  }
</style>
