<template>
  <section class="section"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-news-board.jpg`)})`, backgroundRepeat: 'no-repeat', backgroundSize: 'cover' }">
    <div class="container">
      <div class="columns is-fixed-bottom">
        <div class="column is-paddingless">
          <img :src="require(`@/assets/images/teacher-full.png`)" class="teacher is-pulled-right" alt="">
        </div>

        <div class="column is-half" style="align-self: flex-end">
          <div class="box is-dialogue">
            <p class="content is-size-5">{{ dialogues[dialogueIndex].text }}</p>

            <div class="buttons is-centered">
              <button class="button is-red is-rounded goto-choices" @click="gotoChoice">
                <span class="icon"> <i class="mdi mdi-arrow-left-bold"></i> </span>
                <span class="word">Back to Choices</span>
              </button>

              <button class="button is-green is-rounded is-next" @click="gotoNewspaperHeadlines">
                <span class="word">Next</span>
                <span class="icon"> <i class="mdi mdi-arrow-right-bold"></i> </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'newspaper',
    data () {
      return {
        dialogues: [
          {
            text: 'Let’s take a look at some newspaper headlines. What do you notice about the subject matter of these three headlines?',
            backgroundImage: 'bg-news-board.jpg'
          }
        ],
        dialogueIndex: 0
      }
    },
    computed: {
      ...mapState(['headlines']),
      ...mapGetters(['showNextButton'])
    },
    methods: {
      gotoNewspaperHeadlines () {
        this.$router.push('/newspaper-headlines')
      },
      gotoChoice () {
        this.$store.commit('setShowChoices')
        this.$router.push('/choice')
      }
    }
  }
</script>

<style lang="scss" scoped>
  @media only screen and (max-width: 770px) {

    img {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 30%;
    }
    .is-dialogue {
      margin: 0 0 0 35% !important;

      .content {
        font-size: 2.5em !important;;
      }
    }
  }

  .section {
    height: 100vh;
    overflow: hidden;
  }

  .is-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .is-dialogue {
    margin: 0 3% 10% 0;

    .buttons {
      margin-top: 2%;
    }
  }
</style>
