<template>
  <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/images/bg-newspaper-no-cutout.jpg`)})` }"
           ref="section">
    <div class="container">
      <div class="columns is-vcentered is-fixed-bottom is-size-4 is-mobile">
        <div class="column has-text-centered is-paddingless"
             :class="[ response.speaker==='teacher' ? 'is-one-quarter' : 'is-half' ]"
             v-if="response.speaker === 'teacher' || response.speaker.includes('student-1')">
          <img :src="require(`@/assets/images/${response.speaker}.png`)" class="is-discussion"
               :class="[ response.speaker === 'teacher' ? 'is-teacher' : 'is-student-1' ]" alt=""/>
        </div>

        <div class="extra-dialogue columns is-mobile" v-if="responseIndex === 0">
          <div class="box is-dialogue column">
            <p class="content">{{ response.textTwo }}</p>
          </div>

          <div class="image column is-5">
            <img :src="require(`@/assets/images/${response.teacher}.png`)" alt="">
          </div>
        </div>

        <div class="teacher-speech columns is-mobile" v-if="isFinished">
          <div class="image column is-3">
            <img :src="require(`@/assets/images/${response.teacher}.png`)" alt="">
          </div>

          <div class="box is-dialogue column">
            <p class="content">{{ response.textTwo[endSlide] }}</p>

            <div class="buttons is-centered">
              <button class="button is-red is-rounded is-previous-response" @click="previousResponse"
                      v-if="responseIndex > 0">
                <span class="icon"> <i class="mdi mdi-arrow-left-bold"></i> </span>
                <span class="word"> Previous</span>
              </button>

              <button class="button is-green is-rounded is-next-response" @click="goNextRoute"
                      v-if="!macbethFinished && endSlide < 2 ">
                <span class="word"> Next </span>
                <span class="icon"> <i class="mdi mdi-arrow-right-bold"></i> </span>
              </button>

              <button class="button is-green is-rounded goto-choices" @click="gotoChoice" v-else>
                <span class="word"> Back to Choices </span>
                <span class="icon"> <i class="mdi mdi-arrow-right-bold"></i> </span>
              </button>
            </div>
          </div>
        </div>

        <div class="student-one-speech column is-half" v-if="!isFinished">
          <div class="box is-dialogue">
            <p class="content">{{ response.text }}</p>

            <div class="buttons is-centered">
              <button class="button is-red is-rounded is-previous-response" @click="previousResponse"
                      v-if="responseIndex > 0">
                <span class="icon"> <i class="mdi mdi-arrow-left-bold"></i> </span>
                <span class="word">Previous</span>
              </button>

              <button class="button is-green is-rounded is-next-response" @click="nextResponse">
                <span class="word">Next</span>
                <span class="icon"> <i class="mdi mdi-arrow-right-bold"></i> </span>
              </button>
            </div>
          </div>
        </div>

        <div class="column is-half" v-if="response.speaker === 'student-2'">
          <img :src="require(`@/assets/images/${response.speaker}.png`)" class="is-student-2" alt=""/>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'response',
    data () {
      return {
        responses: [
          {
            speaker: 'student-1',
            text: 'The order of the words also adds to the effect of tone.',
            teacher: 'teacher',
            textTwo: 'How so?'
          },
          {
            speaker: 'student-1',
            text: 'When the sentence begins with the phrase "family man", I wonder what happened to this poor man.',
            background: 'newspaper-right-cutout-1'
          },
          {
            speaker: 'student-1-angry',
            text: 'When the words "reckless driving" opens this sentence, I wonder who it was that acted so irresponsibly.',
            background: 'newspaper-right-cutout-2'
          },
          {
            speaker: 'student-1',
            text: 'The third headline sounds like something I would hear on the news. The phrasing of it makes it unclear whose fault it is, so it sounds objective.',
            background: 'newspaper-right-cutout-3'
          },
          {
            speaker: 'student-2',
            text: 'Yes, this headline makes me sympathise with the man and his family. It feels like the accident was really unfortunate and I feel sorry.',
            background: 'newspaper-left-cutout-1'
          },
          {
            speaker: 'student-2',
            text: 'This headline sounds like a condemnation of reckless driving.',
            background: 'newspaper-left-cutout-2'
          },
          {
            speaker: 'student-2',
            text: 'This headline seems the most reliable since it sounds so objective.',
            background: 'newspaper-left-cutout-3',
            teacher: 'teacher',
            textTwo: [
              'Yes, your responses to the headlines reveal the effect of tone in each of these sentences. As we can see, the order of words, or syntax, also shape tone.',
              'Both the diction and syntax of a sentence add to its tone, which can have different emotional effects on readers and the overall purpose of the text.'
            ]
          }
        ],
        responseIndex: 0,
        isFinished: false,
        endSlide: 0
      }
    },
    computed: {
      ...mapState(['showPalmistry', 'macbethFinished']),
      response () {
        return this.responses[this.responseIndex]
      }
    },
    methods: {
      changeBackground () {
        const section = this.$refs.section
        section.style.backgroundRepeat = 'no-repeat'
        section.style.backgroundSize = 'cover'

        if (this.response.background) {
          section.style.backgroundImage = `url(${require(`@/assets/images/bg-${this.response.background}.jpg`)})`
        } else {
          section.style.backgroundImage = `url(${require(`@/assets/images/bg-newspaper-no-cutout.jpg`)})`
        }
      },
      previousResponse () {
        if (this.responseIndex > 0) {
          this.responseIndex--
          this.changeBackground()
        }

        if (this.responseIndex < 6) {
          this.isFinished = false
        }
      },
      nextResponse () {
        if (this.responseIndex >= this.responses.length - 1) {
          this.isFinished = true
          this.$store.commit('setNewspaperFinished')
        } else {
          this.isFinished = false
          this.responseIndex++
          this.changeBackground()
        }
      },
      goNextRoute () {
        if (this.endSlide < 1) {
          this.endSlide++
        } else {
          this.$router.push('/intonation')
        }
      },
      gotoChoice () {
        this.$router.push('/choice')
      }
    }
  }
</script>

<style lang="scss" scoped>
  img {
    &.is-teacher {
      width: 50%;
      height: 50%;
    }

    &.is-student-1,
    &.is-student-2 {
      width: 80%;
      height: 80%;
    }

    &.is-student-1 {
      float: left;
    }

    &.is-student-2 {
      float: right;
      margin-bottom: -2%;
    }
  }

  .is-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .student-one-speech {
    align-self: flex-end;
  }

  .teacher-speech {
    > .is-dialogue {
      margin-left: -2%;
    }
  }

  .extra-dialogue {
    position: fixed;
    width: 40%;
    top: 25%;
    right: 0;

    .is-dialogue {
      opacity: 0;
      margin: auto -4% auto 0;
      animation: fadeIn 1s forwards;
      animation-delay: 1s;
    }

    img {
      transform: scaleX(-1);
    }
  }
</style>
