<template>
    <div id="app">
        <button class="button mute-button" :class="[ isMuted ? 'is-red' : 'is-green' ]" v-if="hasAudio"
                @click="toggleMute">
      <span class="is-large">
        <i class="mdi" :class="[ isMuted ? 'mdi-volume-off' : 'mdi-volume-high' ]"></i>
      </span>
        </button>

        <router-view v-show="isLandscape"/>

        <div class="is-overlay" :style="{ backgroundImage: `url(${require(`@/assets/images/bg-generic.jpg`)})` }"
             v-show="!isLandscape">
            <div class="hero is-fullheight">
                <div class="hero-body">
                    <div class="container">
                        <div class="columns is-vcentered has-text-centered">
                            <div class="column">
                                Please kindly rotate your device
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <audio id="bgMusic" :src="require(`@/assets/audio/bg-music.mp3`)" autoplay loop ref="bgMusic"
               v-if="hasAudio"></audio>
    </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'App',
    computed: {
      ...mapState(['isLandscape', 'isMuted', 'hasAudio'])
    },
    mounted () {
      this.invokeOrientation()

      window.addEventListener('resize', this.invokeOrientation, false)
    },
    methods: {
      invokeOrientation () {
        this.$store.commit('setIsLandscape', window.innerWidth > window.innerHeight * 1.25 && window.innerHeight > window.innerWidth / 3)
      },
      toggleMute () {
        this.$store.commit('toggleMute')

        const bgMusic = this.$refs.bgMusic
        bgMusic.muted = this.isMuted
      }
    }
  }
</script>

<style lang="scss">
    @import "./sass/app.scss";

    @font-face {
        font-family: 'Jua Regular';
        src: url("./assets/fonts/jua-regular.ttf") format('truetype');
    }

    body {
        background: #fcd243;
    }

    * {
        font-family: "Jua Regular", sans-serif;
    }

    .is-bold {
        font-weight: bold;
    }

    section {
        background: no-repeat center;
        background-size: cover;
        height: 100vh;
        font-size: 1vw;
    }

    .mute-button {
        position: fixed;
        top: 2.5vh;
        left: 2.5vw;
    }

    .button {
        text-transform: uppercase;
        transition: 0.5s all;
        font-size: calc(0.6vh + 0.6vw + 1vmin) !important;

        .icon, .word {
            transition: 0.5s all;
        }

        &:hover {
            .icon {
                animation: shake 1s infinite !important;
            }
        }
    }

    .is-orange {
        border: none;
        color: #2b2b2b;
        background-color: #ff9a00;

        &:hover {
            color: #2b2b2b;
            background-color: #ffcb5c;
        }
    }

    .is-green {
        border: none;
        color: #2b2b2b;
        background-color: #32e878;

        &:hover {
            color: #2b2b2b;
            background-color: #a0ffba;
        }
    }

    .is-red {
        border: none;
        color: #2b2b2b;
        background-color: #ff5e44;

        &:hover {
            color: #2b2b2b;
            background-color: #ffa8a0;
        }
    }

    .is-fixed-bottom {
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .is-dialogue {
        background: url("./assets/images/speech-bubble.png") no-repeat;
        background-size: 100% 100%;
        box-shadow: none;
        line-height: 150%;

        > .content {
            margin: 2.5%;
        }

        > .buttons {
            margin: 2.5%;
        }
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(-3px);
        }
        50% {
            transform: translateX(3px);
        }
        75% {
            transform: translateX(-3);
        }
        100% {
            transform: translateX(0);
        }
    }
</style>
